html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2e2e2f; /* optional override */
}


.App {
  min-height: 100vh;
  background-color: #2e2e2f; /* backup in case class doesn't apply */
}
